/* ===== RESET ===== */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* ===== BASE ===== */
html, body {
  font-family: 'Poppins', sans-serif;
  background-color: black;
  overflow-x: hidden;
  overflow-y: auto;
  width: 100%;
  min-height: 100vh;
}


h1, h2 {
  text-shadow: 2px 2px 5px black;
  color: white;
}

/* ===== CONTAINER ===== */
.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 20px;
}

/* ===== FUNDO PRINCIPAL ===== */
.principal {
  width: 100%;
  min-height: 100vh;
  background: black url("imagens/fundo.jpg") center / cover no-repeat;
  position: relative;
}

/* ===== NAV ===== */
nav {
  max-width: 1200px;
  margin: 0 auto;
  padding: 30px 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

/* Logo */
.portfolio {
  color: whitesmoke;
  font-size: clamp(26px, 4vw, 45px);
}

.portfolio span {
  color: blue;
}

/* Menu */
nav ul {
  list-style: none;
  display: flex;
  gap: 30px;
}

nav ul li {
  font-size: clamp(18px, 2vw, 30px);
}

nav ul li a {
  color: blue;
  text-decoration: none;
  transition: 0.3s ease;
}

nav ul li a:hover {
  color: lightblue;
}

/* ===== NOME ===== */
.meu-nome {
  max-width: 600px;
  color: white;
}

.meu-nome span {
  color: blue;
}

/* ===== SECTION ===== */
section {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 40px;
  padding: 80px 20px;
  background-color: #111;
  color: white;
}

section img {
  width: 300px;
  height: 300px;
  border-radius: 50%;
  object-fit: cover;
  border: 3px solid blue;
  box-shadow: 0 0 20px blue;
}

/* ===== CARROSSEL ===== */
.carrossel {
  width: 100%;
  max-width: 800px;
  margin: 80px auto;
  overflow: hidden;
  border-radius: 15px;
}

/* ===== DESKTOP ===== */
@media (min-width: 769px) {
  .meu-nome {
    position: absolute;
    top: 50%;
    left: 10%;
    transform: translateY(-50%);
  }
}

/* ===== MOBILE ===== */
@media (max-width: 768px) {

  /* Esconde menu  */
  nav ul {
    display: none;
  }

  nav {
    justify-content: center;
  }

  .principal {
    padding-top: 100px;
  }

  .meu-nome {
    margin: 60px auto 0;
    padding: 0 20px;
    text-align: center;
  }

  h1 {
    font-size: 28px;
  }

  h2 {
    font-size: 20px;
  }

  section {
    flex-direction: column;
    padding: 40px 20px;
    text-align: center;
  }

  section img {
    width: 220px;
    height: 220px;
  }

  .carrossel {
    width: 95%;
    margin: 60p auto;
  }
}
/* ===== BOTÃO ENTRE EM CONTATO ===== */
nav .btn-contato {
  background: transparent;
  border: none;
  color: blue;
  font-size: 30px;
  text-decoration: none;
  cursor: pointer;
  transition: 0.3s;
}

nav .btn-contato:hover {
  color: lightblue;
  transform: scale(1.05);
}